# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Local Environment Variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build directory
.next/

# Production build
/out/

# Other
/coverage
