rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Autorise la lecture publique des images pour que les visiteurs du site puissent les voir.
    match /{allPaths=**} {
      allow read;
    }

    // Autorise l'écriture (upload, mise à jour, suppression) uniquement pour les utilisateurs connectés (l'admin).
    // Cela sécurise votre espace de stockage tout en permettant la gestion depuis l'interface.
    match /{allPaths=**} {
      allow write: if request.auth != null;
    }
  }
}
