
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Autoriser la lecture publique de toutes les images
    match /uploads/{userId}/{allPaths=**} {
      allow read;
      // Autoriser l'écriture (création, mise à jour, suppression) uniquement si l'utilisateur est authentifié
      // et que l'ID utilisateur dans le chemin correspond à l'ID de l'utilisateur authentifié.
      // Cela empêche un utilisateur de modifier les images d'un autre.
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
